.btn {
  color: whitesmoke !important;
  text-transform: none !important;
  font-size: medium;
  font-weight: 350;
}

.btn-flat {
  font-size: medium;
  text-transform: none !important;
  font-weight: 350;
}

.btn-flat:hover {
  color: rgb(242, 65, 0);
}

.btn:hover {
  color: whitesmoke !important;
}

a {
  text-decoration: none;
  color: rgb(35, 22, 22);
}

.bred {
  color: #e57373 !important;
}

.input-field input:focus + label, .input-field textarea:focus + label {
  color: #e57373 !important;
}

.input-field input:focus, .input-field textarea:focus {
  border-bottom: 1px solid #e57373 !important;
  box-shadow: 0 1px 0 0 #e57373 !important;
}
